<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products">
		@await Component.InvokeAsync("Categories")
	</div>

	<div class="panel-group category-products">
		<h2>Brands</h2>
		@await Component.InvokeAsync("Brands")
	</div><
</div>