@model IEnumerable<AppUserModel>
@{
    ViewData["Title"] = "User List";
}
<h3>List Brand</h3>
<a class="btn btn-success btn-sm" asp-controller="User" asp-action="Create" asp-area="Admin">Add User</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Mange</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td></td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-controller="User" asp-action="Edit" asp-area="Admin" asp-route-Id="@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm confirmDeletion" asp-controller="User" asp-action="Delete" asp-area="Admin" asp-route-Id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>