@model IEnumerable<CategoryModel>

@if (Model is not null && Model.Any())
{
	foreach (var item in Model)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#">@item.Name</a>
				</h4>
			</div>
		</div>
	}
}